<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Animals</title>
        <%- include("../includes/head") %>
        <link
            rel="stylesheet"
            href="https://tailwindui.com/css/components-v2.css?id=e2de79192ddd550e692d"
        />
        <script src="https://tailwindui.com/js/components-v2.js?id=c08ed7087921a2a8b1bf"></script>
        <script
            src="https://tailwindui.com/js/iframe.js?id=165e0af3d723efd6d5d8"
            defer=""
        ></script>
    </head>
    <body class="font-sans antialiased bg-gray-200">
        <%- include("../includes/navbar") %>
        <div class="bg-white">
            <div x-data="{ open: false }" @keydown.window.escape="open = false">
                <!-- Mobile filter dialog -->
                <div
                    x-show="open"
                    class="fixed inset-0 z-40 flex lg:hidden"
                    x-description="Off-canvas filters for mobile, show/hide based on off-canvas filters state."
                    x-ref="dialog"
                    aria-modal="true"
                    style="display: none"
                >
                    <div
                        x-show="open"
                        x-transition:enter="transition-opacity ease-linear duration-300"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition-opacity ease-linear duration-300"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        x-description="Off-canvas menu overlay, show/hide based on off-canvas menu state."
                        class="fixed inset-0 bg-black bg-opacity-25"
                        @click="open = false"
                        aria-hidden="true"
                        style="display: none"
                    ></div>

                    <div
                        x-show="open"
                        x-transition:enter="transition ease-in-out duration-300 transform"
                        x-transition:enter-start="translate-x-full"
                        x-transition:enter-end="translate-x-0"
                        x-transition:leave="transition ease-in-out duration-300 transform"
                        x-transition:leave-start="translate-x-0"
                        x-transition:leave-end="translate-x-full"
                        x-description="Off-canvas menu, show/hide based on off-canvas menu state."
                        class="relative flex flex-col w-full h-full max-w-xs py-4 pb-12 ml-auto overflow-y-auto bg-white shadow-xl"
                        style="display: none"
                    >
                        <div class="flex items-center justify-between px-4">
                            <h2 class="text-lg font-medium text-gray-900">
                                Filters
                            </h2>
                            <button
                                type="button"
                                class="flex items-center justify-center w-10 h-10 p-2 -mr-2 text-gray-400 bg-white rounded-md"
                                @click="open = false"
                            >
                                <span class="sr-only">Close menu</span>
                                <svg
                                    class="w-6 h-6"
                                    x-description="Hero icon name: outline/x"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"
                                    ></path>
                                </svg>
                            </button>
                        </div>

                        <!-- Filters -->
                        <form class="mt-4 px-4 border-t border-gray-200">
                            <%- include("../includes/filter-options") %>
                        </form>
                    </div>
                </div>

                <main class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                    <div
                        class="relative z-10 flex items-baseline justify-between pt-24 pb-6 border-b border-gray-200"
                    >
                        <h1
                            class="text-4xl font-extrabold tracking-tight text-gray-900"
                        >
                            Animals
                        </h1>
                    </div>

                    <section
                        aria-labelledby="products-heading"
                        class="pt-6 pb-24"
                    >
                        <h2 id="products-heading" class="sr-only">Products</h2>

                        <div
                            class="grid grid-cols-1 lg:grid-cols-4 gap-x-8 gap-y-10"
                        >
                            <!-- Product grid -->
                            <div class="lg:col-span-4">
                                <!-- Replace with your content -->
                                <div
                                    class="grid grid-cols-1 mt-6 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
                                >
                                    <% if(!animalData || animalData.length ===
                                    0) { %> No Pets Found <% } else { %>
                                    <!-- Loop all pets -->
                                    <% for(let animal of animalData) { %>
                                    <a
                                        href="/info/animal/<%= animal.breedName %>"
                                    >
                                        <div class="relative group">
                                            <div
                                                class="w-full overflow-hidden bg-gray-200 flex justify-center items-center rounded-md min-h-80 aspect-w-1 aspect-h-1 group-hover:opacity-75 lg:h-80 lg:aspect-none"
                                            >
                                                <% if(!animal.images ||
                                                animal.images.length === 0) { %>
                                                <i
                                                    class="fas fa-paw text-9xl flex justify-center items-center"
                                                ></i>
                                                <% } else { %> <img src="<%=
                                                animal.images[0].replace("public",
                                                "") %>" alt="<%=
                                                animal.breedName %>"
                                                class="object-cover
                                                object-center w-full h-full
                                                lg:w-full lg:h-full" /> <% } %>
                                            </div>
                                            <div
                                                class="flex justify-between mt-4"
                                            >
                                                <h3
                                                    class="text-lg font-medium text-gray-900"
                                                >
                                                    <%=
                                                    animal.breedName.split("_")
                                                    .map((word) =>
                                                    word.charAt(0).toUpperCase()
                                                    + word.slice(1)).join(" ")
                                                    %>
                                                </h3>
                                            </div>
                                        </div>
                                    </a>
                                    <% } %>
                                    <!-- Loop Ends -->
                                    <% } %>
                                </div>

                                <% currentPage == null ? currentPage = 1 :
                                currentPage %> <% if(pages > 1) { %>
                                <div class="my-2 flex justify-center">
                                    <% for (let i = 1; i <= pages; i++) { %>
                                    <a
                                        href="?page=<%= i %>"
                                        class="m-2 px-4 py-2 rounded-md outline-none <%= currentPage == i ? 'bg-indigo-600 text-white' : 'border-2 border-transparent hover:border-indigo-400 hover:text-indigo-400' %>"
                                    >
                                        <%= i %>
                                    </a>
                                    <% } %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <%- include("../includes/footer") %>
    </body>
</html>
